.table-container {
    margin: 20px;
    max-width: 100%;
  }
  table {
    width: 100%;
  }
  .no-data {
    text-align: center;
    margin: 20px;
    color: #666;
  }
  th {
    background-color: #eeeeee;
  }