<div class="zone-container" *ngIf="isLoading">
    <mat-progress-spinner></mat-progress-spinner>
</div>

<div class="zone-container" *ngIf="!isLoading && zones.length > 0">
    <mat-card *ngFor="let zone of zones" class="zone-card" matRipple (click)="openZoneDetails(zone)">
        <mat-card-header>
            <mat-card-title>
                {{ zone.Name }}
            </mat-card-title>
            <mat-card-subtitle>{{ zone.Description || 'No description' }}</mat-card-subtitle>
            <div class="action-buttons">
                <button mat-icon-button class="delete_button" (click)="deleteZone(zone._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="zone-grid">
                <div class="left-column">
                    <p *ngIf="zone.Environment"><strong>Environment:</strong> {{ zone.Environment }}</p>
                    <p *ngIf="zone.SubGroup"><strong>Sub-Group:</strong> {{ zone.SubGroup }}</p>
                </div>
                <div class="right-column">
                    <p *ngIf="zone.Zone !== null"><strong>Zone:</strong> {{ zone.Zone }}</p>
                    <p *ngIf="zone.TempClass"><strong>Temp. Class:</strong> {{ zone.TempClass }}</p>
                    <p *ngIf="zone.MaxTemp"><strong>Max. Temp.:</strong> {{ zone.MaxTemp }}°C</p>
                    
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <div><strong>Equipment Count:</strong> {{ zone.equipmentCount }}</div>
            <div><strong>Last updated:</strong> {{ zone.updatedAt | date: 'MM.dd.yyyy' }}</div>
        </mat-card-footer>
    </mat-card>
    <mat-card class="zone-card add-zone"
            (click)="openNewZoneDialog()"
            matRipple 
            matRippleColor="rgba(0, 0, 0, 0.1)">
        <mat-card-content class="addcard">
            <mat-icon>add</mat-icon>
            New zone
        </mat-card-content>
    </mat-card>
</div>

<div class="zone-container" *ngIf="!isLoading && zones.length === 0">
    <mat-card class="zone-card add-zone"
            (click)="openNewZoneDialog()"
            matRipple 
            matRippleColor="rgba(0, 0, 0, 0.1)">
        <mat-card-content class="addcard">
            <mat-icon>add</mat-icon>
            Add your first zone
        </mat-card-content>
    </mat-card>
</div>